/*CSS reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  margin-top: 20px;
}


.rtx3050 {
  width: 300px;
  height: 300px;
}

.rx600 {
  width: 300px;
  height: 300px;
}

.rtx3090 {
  width: 300px;
  height: 300px;
}

.slide1 {
  height: 600px;
  width: 100%;
}


.slide2 {
  height:600px;
  width: 100%;
}

.slide3 {
  height: 600px;
  width: 100%;
}


.Logo{
  height: 50px;
  width: 150px;
}